.testimonial {
	margin: 50px;
	margin: 5rem;
	padding: 50px;
	padding: 5rem;
	background-color: #fff;
	border: 3px solid rgba( 0, 0, 0, 0.25 );
}
.source {
	text-align: right;
}
.testimonial p,
.source p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 80%;
  color: #555;
}
.source p {
  margin-bottom: 0;
}

input[type="radio"].toggle {
    display: none;
}

input[type="radio"].toggle:checked + label {
    background-color: rgb( 0, 150, 0 );
    cursor: default;
    color: #fff;
}

input[type="radio"].toggle + label {
		padding: 5px 10px;
		margin: 0 -5px 0 0;
		border: 1px solid black;
		border-radius: 5px;
}

input[type="radio"].toggle:checked + label.btn:hover {
    background-color: inherit;
    background-position: 0 0;
    -webkit-transition: none;
    -moz-trainsition: none;
    transition: none;
}

input[type="radio"].toggle:first-of-type + label {
    border-right: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="radio"].toggle:last-of-type + label {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media only screen and (max-width: 860px) {
  .testimonial {
    margin: 30px;
    margin: 3rem;
    padding: 25px;
    padding: 2.5rem;
  }
}
